* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 24px;
  min-height: 100vh;
}

.board-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1em;
  /* border: 2px solid blue; */
}

.tile {
  /* border: 2px solid gray; */
  width: 10vw;
  height: 15vh;
  font-size: 5em;
  color: #334155;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.58);
  transition: all 0.3s;
}

.tile:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}

#winner {
  border-radius: 3px;
  font-size: 2em;
  color: #64748b;
  padding: 1em;
  text-transform: uppercase;
}
#start-reset {
  background-color: #dbeafe;
  font-size: 1.3em;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 0.5em 1em;
  color: #334155;
}
.disp {
  text-align: center;
  width: 25vw;
}
.names {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4em;
  width: 50%;
  color: #475569;
}

.names input {
  font-size: 16px;
  font-weight: 700;
  color: #475569;
  letter-spacing: 1.2;
  border: 1px solid #475569;
  outline: none;
  border-radius: 5px;
  padding: 5px 10px;
}

#turn {
  text-align: center;
  color: #475569;
}
