.board-container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    border: 2px solid blue;
    
}
.tile{
    border: 2px solid gray;
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}